/* !basic css and header footer styles are added in this file */
/* !Dark mode also added*/
/* !Fonts use in the files also added in here*/


@media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: light) {

}




/* ? Css variables will be display in here */

/* ? Css variables End */




*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}